@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Grixti's Lab</h1>
    <p> Please visit my blog at <a href="http://www.darrengrixti.com/"><i>darrengrixti.com</i></a> for more information.</p>
</div>
