@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Grixti's Lab</h1>
    <p>Learn about <a href="http://app.darrengrixti.com/"> Please visit my blog for more information.</a>.</p>
</div>
